@using Mvc.Models  
@model ContactFormModel
@{
    ViewData["Title"] = "Om oss";
}

<h2 id="aboutTitle">Vår historia</h2>
<div id="about">
    <div><img src="~/images/hot-pizza.jpg" alt=""></div>
    <div>
        <p>Välkommen till vår anrika pizzeria mitt i hjärtat av Malmö! Sedan vår öppning år 1988 har vi stolt
            serverat våra kunder med kärlek och passion för äkta italiensk mat.</p>
    </div>
</div>

<h2 id="aboutLocation">Hitta hit</h2>
<div id="map">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d2254.679783535239!2d12.994633077881586!3d55.590181973024634!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNTXCsDM1JzI0LjciTiAxMsKwNTknNTAuMCJF!5e0!3m2!1ssv!2sse!4v1715859717903!5m2!1ssv!2sse"
        width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

<h2>Kontakta oss</h2>

@await Html.PartialAsync("_ContactForm", Model ?? new ContactFormModel())


@if (ViewData["Message"] != null)
{
    <div id="confirmationMessage" class="confirmationMessage">
        <p style="text-align: center">@ViewData["Message"]</p>
    </div>
}


@Html.ValidationSummary(true) <!-- Visa alla valideringsfel i en sammanfattning -->



